{% extends 'base.html' %}
{% load static %}
{% block extracss %}
<!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous"> -->

<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Droid+Sans" />
<link href="https://fonts.googleapis.com/css2?family=Arimo&display=swap" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css2?family=Unica+One&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'fontawesome/css/all.css' %}" />
<link rel="stylesheet" href="{% static 'core/chat_whatsapp.css' %}" />
{% endblock %}

{% block main %}
<div class="container-fluid" id="main-container">
  <div class="row h-100">
    <div class="col-12 col-sm-5 col-md-4 d-flex flex-column h-100" id="chat-list-area" style="position:relative;">

      <!-- Navbar -->
      <div class="row d-flex flex-row align-items-center p-2 navbar">
        <img src="{% static 'core/img/user.jpeg' %}" alt="Profile Photo" class="img-fluid rounded-circle mr-2"
          style="height:50px; cursor:pointer;" id="display-pic">
        <div class="text-body font-weight-bold" id="username">{{user.username}}</div>
        <div class="nav-item dropdown ml-auto">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
            aria-expanded="false"><i class="fas fa-ellipsis-v text-body"></i></a>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="{% url 'logout' %}">Log Out</a>
          </div>
        </div>
      </div>

      <!-- User List -->
      <!-- <div class="overflow-auto" id="user-list2">-->
      <div class="row overflow-auto" id="user-list"></div>

        <div class="row d-flex flex-row flex-grow p-2" id="emoji-legend">
          <h3 class="col-12">Emoji-Legende</h3>
          <div  class="col-12"><span class="emoji_single_small">😊</span><small style="background-color: #F8FFAD;" class="btn btn-legend btn-xs">Freude | Joy </small></div>
          <div  class="col-12"><span class="emoji_single_small">🥰</span><small style="background-color: #3AFF8A;" class="btn btn-legend btn-xs">Akzeptanz / Vertrauen | Trust</small></div>
          <div  class="col-12"><span class="emoji_single_small">😱</span><small style="background-color: #72D38B;" class="btn btn-legend btn-xs">Angst | Fear</small></div>
          <div  class="col-12"><span class="emoji_single_small">😲</span><small style="background-color: #9ED6FF;" class="btn btn-legend btn-xs">Überraschung | Surprise</small></div>
          <div  class="col-12"><span class="emoji_single_small">😢</span><small style="background-color: #9E61FF;" class="btn btn-legend btn-xs">Traurigkeit | Sadness</small></div>
          <div  class="col-12"><span class="emoji_single_small">🤢</span><small style="background-color: #FFB2FF;" class="btn btn-legend btn-xs">Ekel | Disgust</small></div>
          <div  class="col-12"><span class="emoji_single_small">😡</span><small style="background-color: #FF7E87;" class="btn btn-legend btn-xs">Wut | Anger</small></div>
          <div  class="col-12"><span class="emoji_single_small">👀</span><small style="background-color: #FFC886;" class="btn btn-legend btn-xs">Neugierde / Erwartung | Anticipation</small></div>
        </div>

      <!-- Profile Settings -->
      <div class="d-flex flex-column w-100 h-100" id="profile-settings">
        <div class="row d-flex flex-row align-items-center p-2 m-0" style="background:#009688; min-height:65px;">
          <i class="fas fa-arrow-left p-2 mx-3 my-1 text-white" style="font-size: 1.5rem; cursor: pointer;"
            onclick="hideProfileSettings()"></i>
          <div class="text-white font-weight-bold">Profile</div>
        </div>
        <div class="d-flex flex-column" style="overflow:auto;">
          <img src="{% static 'core/img/user.jpeg' %}" alt="Profile Photo"
            class="img-fluid rounded-circle my-5 justify-self-center mx-auto" id="profile-pic">
          <input type="file" id="profile-pic-input" class="d-none">
          <div class="bg-white px-3 py-2">
            <div class="text-muted mb-2"><label for="input-name">Your Name</label></div>
            <input type="text" name="name" id="input-name" class="w-100 border-0 py-2 profile-input">
          </div>
          <div class="text-muted p-3 small">
            This is not your username or pin. This name will be visible to your WhatsApp contacts.
          </div>
          <div class="bg-white px-3 py-2">
            <div class="text-muted mb-2"><label for="input-about">About</label></div>
            <input type="text" name="name" id="input-about" value="" class="w-100 border-0 py-2 profile-input">
          </div>
        </div>

      </div>
    </div>

    <!-- Message Area -->
    <div class="d-none d-sm-flex flex-column col-12 col-sm-7 col-md-8 p-0 h-100" id="message-area">
      <div class="w-100 h-100 overlay">
        <div class="intro">
          <div class="footer">
            <a>from</a>
            <br />
            <a id="typo">EMOBOT</a>
          </div>
        </div>
      </div>

      <!-- Navbar -->
      <div class="row d-flex flex-row align-items-center p-2 m-0 w-100 navbar">
        <div class="d-block d-sm-none">
          <i class="fas fa-arrow-left p-2 mr-2 text-body" style="font-size: 1.5rem; cursor: pointer;"
            onclick="showChatList()"></i>
        </div>
        <img src="{% static 'core/img/user.jpeg' %}" alt="Profile Photo" class="img-fluid rounded-circle mr-2"
          style="height:50px;" id="pic">
        <div class="d-flex flex-column">
          <div class="text-body font-weight-bold" id="name"></div>
          <div class="text-body small" id="details"></div>
        </div>

        <!-- Scenario controls -->
        <div class="d-flex flex-row align-items-center ml-auto">
          <div class="input-group p-2">
            <div class="input-group-prepend">
              <label class="input-group-text" for="scenario-ids">SID</label>
            </div>
            <div class="custom-file mr-2">
              <input type="number" class="form-control" id="scenario-input" name="scenario-ids" min="1" max="28"
                value="1">
            </div>
            <div class="input-group-append">
              <button class="btn btn-primary rounded" type="button" id="scenario-btn-start"
                onclick="beginScenario()">Szenario
                Starten</button>
              <button class="btn btn-danger rounded" type="button" id="scenario-btn-stop" onclick="terminateScenario()"
                style="display: none">Szenario
                Beenden</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Messages -->
      <div class="d-flex flex-column" id="messages"></div>

      <!-- Bottom bar -->
      <div class="d-flex flex-row" id="chat-control">
        <div class="d-flex flex-column flex-grow-1">
          <!-- Emoji bar -->
          <div class="mt-auto emojiList">
            <span class="emoji_single button" id="emoji_0">😊</span>
            <span class="emoji_single button" id="emoji_1">🥰</span>
            <span class="emoji_single button" id="emoji_2">😱</span>
            <span class="emoji_single button" id="emoji_3">😲</span>
            <span class="emoji_single button" id="emoji_4">😢</span>
            <span class="emoji_single button" id="emoji_5">🤢</span>
            <span class="emoji_single button" id="emoji_6">😡</span>
            <span class="emoji_single button" id="emoji_7">👀</span>
          </div>

          <!-- Input -->
          <div class="d-none justify-self-end align-items-center" id="input-area">
            <input type="text" name="message" id="input" placeholder="Type a message"
              class="flex-grow-1 border-0 px-3 py-2 my-3 rounded shadow-sm">
            <i class="fas fa-paper-plane text-muted px-3" style="cursor:pointer;" onclick="sendMessage()"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}


{% block extrajs %}
<!-- <script type="text/javascript">
    let static_url = "{% static 'whatsapp/' %}";
  </script>
<script src="{% static 'whatsapp/datastore.js' %}"></script>
<script src="{% static 'whatsapp/date-utils.js' %}"></script>
<script src="{% static 'whatsapp/script.js' %}"></script> -->


<script src="{% static 'bootstrap/bootstrap.bundle.min.js' %}"></script>
<script>
  let sessionKey = '{{ request.session.session_key }}';
  let currentUser = '{{ request.user.username }}';
  let static_url = "{% static 'core' %}";
</script>
<script src="{% static 'core/chat_whatsapp.js' %}"></script>
{% endblock %}